<li class='list'>
  <%= link_to "#" do %>
    <div class='item-img-content'>
      <%= image_tag item.image, class: "item-img" %>

      <%# 商品購入機能実装後にsold outの表示をさせる %>
      <%# <% if item.order %> %>
        <%# <div class='sold-out'> %> %>
          <%# <span>Sold Out!!</span> %> %>
        <%# </div> %> %>
      <%# <% end %> %>

    </div>
    <div class='item-info'>
      <h3 class='item-name'>
        <%= item.name %>
      </h3>
      <div class='item-price'>
        <span><%= item.price %>円<br><%= item.delivery_fee.name %></span>
        <div class='star-btn'>
          <%= image_tag "star.png", class:"star-icon" %>
          <span class='star-count'>0</span>
        </div>
      </div>
    </div>
  <% end %>
</li>